{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: "To Email"|t,
	id: 'toEmail',
	name: 'toEmail',
	instructions: "The email address that the contact form will send to."|t,
	value: settings.toEmail,
	autofocus: true,
	errors: settings.getErrors('toEmail')
}) }}

{{ forms.textField({
	label: "Sender Text"|t,
	id: 'prependSender',
	name: 'prependSender',
	instructions: "Text that will be prepended to the email's From Name to inform who the Contact Form actually was sent by."|t,
	value: (settings.prependSender ? settings.prependSender : "On behalf of"|t),
	errors: settings.getErrors('prependSender')
}) }}

{{ forms.textField({
	label: "Subject Text"|t,
	id: 'prependSubject',
	name: 'prependSubject',
	instructions: "Text that will be prepended to the email’s Subject to flag that it comes from the Contact Form."|t,
	value: (settings.prependSubject ? settings.prependSubject : "New message from {siteName}"|t({ siteName: craft.app.siteName })),
	errors: settings.getErrors('prependSubject')
}) }}

{{ forms.textField({
	label: "Honeypot Field Name"|t,
	id: 'honeypot',
	name: 'honeypot',
	instructions: "The name of a field that should always be submitted empty, so we can identify robots without bothering humans. Be sure to add this field to your form!"|t,
	value: settings.honeypot,
	errors: settings.getErrors('honeypot')
}) }}
